@use './variables' as *;
@use './typography' as *;

@mixin tablet {
    @media screen and (min-width: $tablet-breakpoint) {
        @content;
    }
}

@mixin desktop {
    @media screen and (min-width: $desktop-breakpoint) {
        @content;
    }
}

@mixin background($url) {
    background-image: url($url);
    background-color: $bandsite-black;
    opacity: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@mixin flex($direction) {
    display: flex;
    flex-direction: $direction;
    justify-content: center;
    align-items: center;
}

@mixin avatar {
    border-radius: 50%;
    background-color: $mercury;
    width: 18vw;
    max-height: 18vw;
    max-width: 2.25rem;
    max-height: 2.25rem;
}

@mixin padding-mobile {
    padding: 1.5rem 1rem 1rem;
}

@mixin padding-between-mobile {
    padding: 1rem 0;
}

@mixin padding-tablet-desktop {
    padding: 3rem 2.25rem 2.25rem;
}

@mixin padding-between-tablet-desktop {
    padding: 1.125rem 0;
}

@mixin dark-background {
    background-color: $bandsite-black;
    color: $white;
}

@mixin light-background {
    background-color: $alabaster;
    color: $bandsite-black;
}