/* primary colors */
/* secondary colors */
/* breakpoints */
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTPro.ttf") format("ttf");
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("otf");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProDemi.ttf") format("ttf");
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("otf");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next";
  src: url("../../assets/fonts/AvenirNextLTProBold.ttf") format("ttf");
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("otf");
  font-weight: 700;
}
* {
  font-family: "Avenir Next", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.page-header {
  font-size: 1.75rem;
  line-height: 2rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .page-header {
    font-size: 3.75rem;
    line-height: 4.25rem;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) {
  .page-header {
    font-size: 4.25rem;
  }
}

.section-header {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .section-header {
    font-size: 2.25rem;
    line-height: 2.75rem;
    font-weight: 500;
  }
}

.subheader {
  font-size: 1.125rem;
  line-height: 1.375rem;
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .subheader {
    font-size: 1.5rem;
    line-height: 2rem;
    font-weight: 600;
  }
}

.body-copy {
  font-size: 1rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .body-copy {
    font-size: 1rem;
    line-height: 1.375rem;
    font-weight: 400;
  }
}

.footer-copy {
  font-size: 1.5rem;
  line-height: 1.125rem;
  font-weight: 400;
}
@media screen and (min-width: 768px) {
  .footer-copy {
    font-size: 1rem;
    line-height: 1.25rem;
    font-weight: 400;
  }
}

.labels-buttons {
  font-size: 0.625rem;
  line-height: 1.25rem;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .labels-buttons {
    font-size: 0.75rem;
    line-height: 1.25rem;
    font-weight: 700;
  }
}

.header {
  background-color: #323232;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 0;
  }
}
.header__logo {
  padding: 1rem;
}
@media screen and (min-width: 1024px) {
  .header__logo {
    margin-left: 4.25rem;
    margin-right: 2.25rem;
  }
}
.header__nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
}
@media screen and (min-width: 768px) {
  .header__nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: flex-start;
    height: 6vh;
    gap: 1rem;
    padding: 0 2.5rem;
  }
}
.header__link {
  text-decoration: none;
  color: #AFAFAF;
}
.header__link.current, .header__link:hover {
  color: #FFFFFF;
}
.header__list {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header__list {
    justify-content: flex-start;
    height: 100%;
  }
}
.header__list-item {
  padding-bottom: 0.75rem;
  width: 50vw;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header__list-item {
    width: auto;
    height: 100%;
    margin: 0 1.25rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 0;
  }
}
.header__list-item.current, .header__list-item:hover {
  border-bottom: 0.1875rem solid #FFFFFF;
}
.header__list-item.current {
  font-weight: 600;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
}
.hero__img {
  background-image: url("../assets/images/hero-bio.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vw;
  width: 100%;
  position: absolute;
  z-index: 1;
}
.hero__content {
  background-color: #323232;
  opacity: 50%;
  height: 50vw;
  width: 100%;
  position: relative;
  z-index: 2;
}
.hero__title {
  color: #FFFFFF;
  margin: 0;
  position: absolute;
  z-index: 3;
  padding-left: 1rem;
}
@media screen and (min-width: 768px) {
  .hero__title {
    padding-left: 4rem;
  }
}
@media screen and (min-width: 1024px) {
  .hero__title {
    padding-left: 6rem;
  }
}

.moto {
  padding: 1.5rem 1rem 0rem;
}
@media screen and (min-width: 768px) {
  .moto {
    padding: 3rem 2.25rem 2.25rem;
    padding-bottom: 0;
  }
}
.moto__content {
  padding: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .moto__content {
    margin: 0 auto;
    width: 80%;
    padding: 1.125rem 0;
  }
}
.moto__content-img {
  padding: 0.75rem 0;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .moto__content-img {
    height: 25em;
    padding: 1.125rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .moto__content-img {
    height: 35em;
    padding: 1.125rem 0;
  }
}
@media screen and (min-width: 1024px) {
  .moto__content-text {
    width: 80%;
  }
}
.moto__subheader {
  padding: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .moto__subheader {
    padding: 1.125rem 0;
  }
}
@media screen and (min-width: 768px) {
  .moto__subsubheader {
    font-size: 1.25rem;
  }
}

.about {
  padding: 1.5rem 1rem 0rem;
}
@media screen and (min-width: 768px) {
  .about {
    margin: 0 auto;
    width: 80%;
    padding: 3rem 2.25rem 2.25rem;
    padding-top: 0;
  }
}
.about__title {
  padding: 0.75rem 0;
  font-weight: 500;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .about__title {
    padding: 1.125rem 0;
  }
}
.about__paragraphs {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}
@media screen and (min-width: 768px) {
  .about__part1, .about__part2 {
    width: 47%;
  }
}

.photos {
  padding: 1.5rem 1rem 0rem;
  background-color: #FAFAFA;
}
@media screen and (min-width: 768px) {
  .photos {
    padding: 3rem 2.25rem 2.25rem;
  }
}
.photos__header {
  padding: 0.75rem 0;
  padding-top: 0;
}
@media screen and (min-width: 768px) {
  .photos__header {
    padding: 1.125rem 0;
    padding-left: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .photos__header {
    padding-left: 4rem;
  }
}
@media screen and (min-width: 768px) {
  .photos__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
.photos__img {
  width: 100%;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .photos__img {
    width: 33%;
    padding: 1.125rem 0;
    padding: 0.5rem;
  }
}
@media screen and (min-width: 1024px) {
  .photos__img {
    width: 30%;
    padding: 1rem;
  }
}

.footer {
  padding: 1.5rem 1rem 0rem;
  background-color: #323232;
  padding-bottom: 1rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 2.25rem 2.25rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__top {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 0 0rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__top {
    padding: 0 5rem;
  }
}
.footer__right {
  display: none;
}
@media screen and (min-width: 768px) {
  .footer__right {
    display: flex;
  }
}
.footer__left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  flex-wrap: wrap;
}
@media screen and (min-width: 768px) {
  .footer__left {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    gap: 3rem;
  }
}
.footer__left-logos {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 1rem 0.5rem;
  gap: 2rem;
}
.footer__content-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-items: flex-start;
  justify-content: baseline;
  padding: 0.5rem 0;
}
.footer__content-info__name {
  font-weight: 500;
  padding-bottom: 1rem;
  white-space: nowrap;
}
.footer__content-info__address, .footer__content-info__email {
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .footer__content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 0;
    flex-wrap: wrap;
  }
  .footer__content-info {
    width: 31%;
  }
}
@media screen and (min-width: 1024px) {
  .footer__content {
    width: 85%;
    padding-left: 5rem;
  }
}
.footer__bottom {
  padding: 2rem 0 1rem;
}
.footer__bottom-logo {
  display: flex;
  padding: 0.5rem 0;
}
@media screen and (min-width: 768px) {
  .footer__bottom-logo {
    display: none;
  }
}
.footer__bottom-copyright {
  padding-left: 5rem;
}/*# sourceMappingURL=bio.css.map */