@use "../styles/partials/mixins" as *;
@use "../styles/partials/typography" as *;
@use "../styles/partials/variables" as *;
@use "../styles/partials/global" as *;

* {
    font-family: 'Avenir Next', sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.header__hero {

    &-img {
        @include background('../assets/images/hero-shows.jpg');
    }

    &-content {
        background-color: rgba($bandsite-black, 0.5);
        &__titles {
            @include desktop {
                width: 50%;
            }

            &-one {
                color: $white;
                padding-bottom: 1rem;
                font-size: 1.5rem;

                @include tablet {
                    font-size: 1.75rem;
                }
            }

            &-two {
                @include tablet {
                    width: 70%;
                }

                @include desktop {
                    width: 100%;
                }
            }
        }

        &__iframe {
            padding-right: 1rem;
            width: 100%;
            height: 17vh;

            @include tablet {
                width: 70%;
            }

            @include desktop {
                padding-top: 1rem;
                width: 40%;
                height: 20vh;
            }
        }

        @include desktop {
            @include flex(row);
            justify-content: space-between;
            height: 90vh;
            padding: 0 8rem;
        }
    }
}

.concerts {
    color: $bandsite-black;
    padding: 1rem;

    @include tablet {
        padding: 1.5rem;
    }

    @include desktop {
        padding: 1.5rem 4rem;
    }

    &__header {
        @include desktop {
            display: flex;
            align-items: baseline;
            justify-content: space-between;
            width: 75%;
        }

        &-title {
            font-size: 2rem;
            font-weight: 500;
            padding: 3rem 0 1rem;

            @include tablet {
                font-size: 3rem;
            }

            @include desktop {
                padding-left: 2rem;
            }

        }

        &-shows {
            color: $silver;
            font-weight: 500;
            padding: 2rem 0 0;
            display: none;

            @include tablet {
                @include flex(row);
                align-items: center;
                justify-content: space-between;
                width: 63%;
            }

            @include desktop {
                width: 67%;
            }

            &__subtitle {
                width: 20%;
            }
        }
    }

    &__content {
        @include flex(column);
        align-items: flex-start;

        &-container {
            @include tablet {
                @include flex(row);
                align-items: center;
                justify-content: space-between;
            }

            @include desktop {
                width: 75%;
                margin-left: auto;
            }

            border-bottom: 2px $mercury solid;
            width: 100%;

            &__subtitle {
                color: $silver;
                font-weight: 500;
                padding: 1.5rem 0 .75rem;

                @include tablet {
                    display: none;
                }
            }

            &__date {
                font-weight: 600;
            }

            @include tablet {

                &__date,
                &__venue,
                &__location {
                    width: 20%;
                }
            }

            &__button {
                @include dark-background;
                width: 90%;
                margin: 1.5rem 1rem;
                padding: 1rem;
                border-radius: .25rem;
                text-wrap: nowrap;

                @include tablet {
                    width: 20%;
                    padding: .75rem 1rem;
                }

                &:hover {
                    background-color: $bandsite-darkblack;
                }
            }

            &:hover {
                background-color: $alabaster;
            }

        }


    }
}